//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-default:         #111;
@blueBlack:             #0E3E48;
@red:                   #FF0000;
@green:                 #008000;
@orange:                #FFA500;

//default color
@default_bg:            #FFF;
@default_headBg:        #0f3f49;
@default_headFont:      #e2eaeb;
@default_headHover:     #145461;
@default_accountInformationBg:              #e9eff0;
@default_accountInformationHeadline:        #59939b;
@default_accountInformationUser:            #145461;
@default_menuBg:                #145461;
@default_menuCheckedBg:         #59939b;
@default_menuFont:              #c7d6d9;
@default_menuBorderB:           #455558;
@default_menuBorderT:           #a1bcc0;
@default_menuCheckedBorderB:    #2c494d;
@default_SubmenuBorderB:        #637a7e;
@default_SubmenuBorderT:        #235f6b;
@default_SubmenuCheckedBorderT: #a1bcc0;
@default_contentHeadBg:                 #bdd4d7;
@default_contentHeadFont:               #145461;
@subTitleBarBg:                 #f2f2f2;
@subTitleBarTitle:              #145461;
@subTitleBarDetails:            #707070;
@default_contentInformationHeadlineT:    #145461;
@default_contentInformationHeadlineD:    #666666;
@tableThbg:                         #e9eef1;
@tableThBorderB:                    #ddd;
@inputFocus:                        #66AFE9;
@leaderBg:                          #d0e5ea;
@stylistBg:                           #e7f2f4;












